<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>prometheus配置</title>
</head>

<style>
    body {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        overflow: hidden;
    }

    .showconfig {
        position: fixed;
        z-index: 4;
        top: 8%;
        left: 10%;
        width: 78%;
        height: 84%;
        border: 5px solid #CCC;
{#        text-align: center;#}
        font-size: 15px;
        white-space: normal;
        display: none;
        color: lawngreen;
        background-color: black;
        overflow: auto;
        _height: expression(this.scrollHeight > 456 ? "456px" : auto);
    }


            /*底色*/
        .back_color{
            position: fixed;
            z-index: 3;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            max-height: 100%;
            border: 5px solid #CCC;
            text-align: center;
            font-size: 10px;
            display: none;
            background-color: black;
            opacity: 0.5;
            overflow: auto;
            _height: expression(this.scrollHeight > 456 ? "456px" : auto);
        }


    pre {
	white-space: pre-wrap; /*css-3*/
	white-space: -moz-pre-wrap; /*Mozilla,since1999*/
{#	white-space: -pre-wrap; /*Opera4-6*/#}
	white-space: -o-pre-wrap; /*Opera7*/
	word-wrap: break-word; /*InternetExplorer5.5+*/
}

</style>

<body>
    <div style="height: 100%; width: 100%">
        <div style="position: absolute; left: 1%; top: 1%; height: 30%; width: 96% ;border: 1px solid lightseagreen; border-radius: 10px">
            <div class="config-prometheus" style="position: absolute; left: 1%; top: 6%; height: 100%; width: 96%">

                <div style="position: absolute; top: 7%; height: 15%; width: 30%">
                    <label style="float: left;height: 100%; padding: 2px 5px 0 5px; border: 1px solid black; background-color: black; color: white"> 名称: </label>
                    <input id="prometheusName" style="float: left; height: 100%; width: 70%; border: 1px solid black; outline: none;" type="text" placeholder="   设置配置名称....">
                </div>

                <div style="position: absolute; top: 35%; height: 15%; width: 30%">
                    <label style="float: left; height: 100%;padding: 2px 5px 0 5px; border: 1px solid black; background-color: black; color: white">监控时间:</label>
                    <input id="prometheusInterval" style="float: left; height: 100%; width: 70%; border: 1px solid black; outline: none;" type="text" placeholder="   设置监控时间间隔....">
                </div>

                <div style="position: absolute; top: 35%; height: 15%; width: 30%; left: 30%">
                    <label style="float: left; height: 100%;padding: 2px 5px 0 5px; border: 1px solid black; background-color: black; color: white">匹配时间:</label>
                    <input id="prometheusRInterval" style="float: left; height: 100%; width: 70%; border: 1px solid black; outline: none;" type="text" placeholder="   设置告警判断时间间隔....">
                </div>

                <div style="position: absolute; top: 35%; height: 15%; width: 40%; left: 61%">
                    <label style="float: left; height: 100%;padding: 1px; border: 1px solid black; background-color: black; color: white">告警url:</label>
                    <input id="prometheusAUrl" style="float: left; height: 100%; width: 80%; border: 1px solid black; outline: none;" type="text" placeholder="   设置告警模块url....">
                </div>


                <div style="position: absolute; top: 58%; height: 15%; width: 30%">
                    <label style="float: left; height: 100%;padding: 1px; border: 1px solid black; background-color: black; color: white">告警文件:</label>
                    <input id="prometheusRPath" style="float: left; height: 100%; width: 70%; border: 1px solid black; outline: none;" type="text" placeholder="   设置rule文件路径....">
                </div>

                <div style="position: absolute; top: 58%; height: 15%; width: 30%; left: 30%">
                    <label style="float: left; height: 100%;padding: 1px; border: 1px solid black; background-color: black; color: white">Job文件:</label>
                    <input id="prometheusJPath" style="float: left; height: 100%; width: 73%; border: 1px solid black; outline: none;" type="text" placeholder="   设置Job文件路径....">
                </div>

                <div style="position: absolute; top: 58%; height: 15%; width: 30%; left: 61%">
                    <label style="float: left; height: 100%;padding: 1px; border: 1px solid black; background-color: black; color: white">超时时间:</label>
                    <input id="prometheusTimeout" style="float: left; height: 100%; width: 73%; border: 1px solid black; outline: none;" type="text" placeholder="   设置超时时间....">
                </div>

                <div style="position: absolute; top: 77%; height: 15%; width: 30%; left: 80%;">
                    <button type="submit" onclick="showPConfig()" style="float: left; height: 100%; width: 20%; background-color: darkseagreen; border: 1px solid darkseagreen; color: white; outline: none">预览</button>
                    <button type="submit" onclick="addPConfig()" style="margin-left: 1%; float: left; height: 100%; width: 20%; background-color: darkseagreen; border: 1px solid darkseagreen; color: white; outline: none">提交</button>
                    <button type="submit" onclick="updatePConfig()" style="margin-left: 1%; float: left; height: 100%; width: 30%; background-color: darkseagreen; border: 1px solid darkseagreen; color: white; outline: none">更新文件</button>
                </div>

            </div>
        </div>

        <div id="changeGroup" style="text-align: center;  position: absolute; top: 38%; height: 5%; width: 10%; left: 5%;border: 1px solid darkseagreen; border-bottom: 2px solid white; z-index: 2">
            <a href="javascript:changeNode('group')" style="text-decoration: none; color: black;" >主机组设置</a>
        </div>

        <div id="changeK" style="text-align: center; position: absolute; top: 38%; height: 5%; width: 10%; left: 15%;border: 1px solid white; border-bottom: 2px solid darkseagreen; z-index: 2">
            <a href="javascript:changeNode('k8s')" style="text-decoration: none; color: black;" >K8s/Consul</a>
        </div>

        <div id="changeHost" style="text-align: center; position: absolute; top: 38%; height: 5%; width: 10%; left: 25%;border: 1px solid white; border-bottom: 2px solid darkseagreen; z-index: 2">
            <a href="javascript:changeNode('host')" style="text-decoration: none; color: black;" >主机设置</a>
        </div>

        <hr style="margin-top: 0; position: absolute; top: 43%; border: 0;  border-bottom: 2px solid darkseagreen; height: 1px; width: 98%">

        <div id="iframe_config" style="position: absolute; top: 44%; width: 98%; height: 48%">
            <iframe id="change_iframe" marginwidth=0 marginheight=0 width=100% height=100% src="showGroup" frameborder=0></iframe>
        </div>


    </div>

    <div class="showconfig" id="showconfig">
        <label style="position: fixed;right: 14%;top: 9%;font-size: 30px; color: white"><a href="javascript:closeBack()" style="text-decoration:none; color: white;">✘</a></label>
        <pre id="content" style="position: absolute;left: 3%; top: 3%">
        </pre>
    </div>

    <div id="backshow" class="back_color" style="width: 100% ; height: 100%;">
    </div>

</body>

    <script src="/static/js/jquery-2.1.1.js"></script>

<script>

    //获取当前prometheus的配置信息
    $(document).ready(function () {
        jQuery.ajax({
            type: "POST",
            url: "getPConfig",
            dataType: 'json',
            async: false,
            error: function () {
                alert("操作失败,请稍等片刻重新尝试,如仍有问题请联系管理员......");
                return false;
            },
            success: function (result) {
                var status = result['status'];
                if(status == 1){
                    $("#prometheusName").val(result['name']);
                    $("#prometheusInterval").val(result['scrape_interval']);
                    $("#prometheusRInterval").val(result['evaluation_interval']);
                    $("#prometheusAUrl").val(result['alertmanagers_targets']);
                    $("#prometheusRPath").val(result['rule_files_path']);
                    $("#prometheusJPath").val(result['job_path']);
                    $("#prometheusTimeout").val(result['scrape_timeout']);
                }else if(status == 2 || status == 3){
                    alert('数据加载异常,请稍后尝试或联系管理员');
                }

            }
        })
    });

    function addPConfig() {
        var name = $("#prometheusName").val();
        var interval = $("#prometheusInterval").val();
        var RInterval = $("#prometheusRInterval").val();
        var AUrl = $("#prometheusAUrl").val();
        var RPath = $("#prometheusRPath").val();
        var JPath = $("#prometheusJPath").val();
        var timetOut = $("#prometheusTimeout").val();

        {#        alert(name + ' ' + interval + ' ' + RInterval + ' ' + AUrl + ' ' + RPath + ' ' + JPath + ' ' + timetOut);#}

        //检查名字中是否含有特殊字符
        if (checkQuote(name) || "" == name.trim()) {
            alert("输入名为空或存在特殊字符!");
            return;
        }

        //检查输入时间是否正确
        var reg = /^[0-9]*[s|m]$/;
        if (!reg.test(interval) || !reg.test(RInterval) || !reg.test(timetOut)) {
            alert("请检查监控,匹配,超时时间格式!(时间+s,m,如3s或4m)");
            return;
        }

        //检查url
        if (checkURL(AUrl)) {
            alert("url为空或参数格式存在问题!");
            return;
        }

        //检查路径是否为空
        if ("" == RPath || "" == JPath) {
            alert("路径参数不能为空");
            return;
        }

        var x = confirm("是否确认提交");
        if (x == false) {
            return;
        }


        jQuery.ajax({
            type: "POST",
            url: "addPConfig",
            dataType: 'json',
            data : {"name":name, "interval":interval, "RInterval":RInterval, "AUrl":AUrl, "RPath": RPath, "JPath": JPath, "timetOut": timetOut},
            async: false,
            error: function () {
                alert("操作失败,请稍等片刻重新尝试,如仍有问题请联系管理员......");
                return false;
            },
            success: function (result) {
                alert(result)
            }
        })
    }

    //判断是否含有特殊字符
    function checkQuote(str) {
        var items = new Array("~", "`", "!", "@", "#", "$", "%", "^", "&", "{", "}", "[", "]", "(", ")");
        items.push(":", ";", "'", "|", "\\", "<", ">", "?", "/", "<<", ">>", "||", "/", "*", ",", ".");
        //str = str.toLowerCase();
        for (var i = 0; i < items.length; i++) {
            if (str.indexOf(items[i]) >= 0) {
                return true;
            }
        }
        return false;
    }

    //检测url地址是否合法
    function checkURL(str) {
        str = 'http://' + str;
        if (str.match(/(http[s]?|ftp):\/\/[^\/\.]+?..+\w$/i) == null) {
            return true
        }else {
            return false;
        }
    }

    function changeNode(node){
        if (node == "host"){
            document.getElementById("changeHost").style.border="1px solid darkseagreen";
            document.getElementById("changeHost").style.borderBottom="3px solid white";

            document.getElementById("changeGroup").style.border="0px solid darkseagreen";
            document.getElementById("changeGroup").style.borderBottom="0px solid darkseagreen";

            document.getElementById("changeK").style.border="0px solid darkseagreen";
            document.getElementById("changeK").style.borderBottom="0px solid darkseagreen";

            $("#change_iframe").attr("src","showHost");

        }else if(node == "group"){
            document.getElementById("changeGroup").style.border="1px solid darkseagreen";
            document.getElementById("changeGroup").style.borderBottom="3px solid white";

            document.getElementById("changeHost").style.border="0px solid darkseagreen";
            document.getElementById("changeHost").style.borderBottom="0px solid darkseagreen";

            document.getElementById("changeK").style.border="0px solid darkseagreen";
            document.getElementById("changeK").style.borderBottom="0px solid darkseagreen";

            $("#change_iframe").attr("src","showGroup");

        }else if(node == "k8s"){
            document.getElementById("changeK").style.border="1px solid darkseagreen";
            document.getElementById("changeK").style.borderBottom="3px solid white";

            document.getElementById("changeGroup").style.border="0px solid darkseagreen";
            document.getElementById("changeGroup").style.borderBottom="0px solid darkseagreen";

            document.getElementById("changeHost").style.border="0px solid darkseagreen";
            document.getElementById("changeHost").style.borderBottom="0px solid darkseagreen";

            $("#change_iframe").attr("src","showK");
        }
    }

    function showPConfig(){
        jQuery.ajax({
            type: "POST",
            url: "showPConfig",
            dataType: 'json',
            async: false,
            error: function () {
                alert("操作失败,请稍等片刻重新尝试,如仍有问题请联系管理员......");
                return false;
            },
            success: function (result) {
                if(result['status'] == 0){
                    alert('数据错误,请检查配置信息!');
                }else{
                    $("#content").html(result['config']);
                    document.getElementById("showconfig").style.display="block";
                    document.getElementById("backshow").style.display="block";
                }
            }
        })
    }

    function updatePConfig(){
        var x = confirm("是否确认刷新prometheus配置信息");
        if (x == false) {
            return;
        }

        jQuery.ajax({
            type: "POST",
            url: "updatePConfig",
            dataType: 'json',
            async: false,
            error: function () {
                alert("操作失败,请稍等片刻重新尝试,如仍有问题请联系管理员......");
                return false;
            },
            success: function (result) {
                alert(result);
            }
        })

    }


    function closeBack(){
        document.getElementById("showconfig").style.display="none";
        document.getElementById("backshow").style.display="none";
    }


</script>

</html>