<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>

<style>
    body {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        overflow: hidden;
    }
</style>

<body>

    <div style="position: absolute; top: 14%; left: 3%; height: 8%; width: 25%">
        <label style="float: left; height: 100%;padding: 1px; border: 1px solid grey; background-color: grey; color: white"> 组名: </label>
        <input id="groupName" style="float: left; height: 100%; width: 70%; border: 1px solid grey; outline: none;" type="text" placeholder="   设置组名名称....">
    </div>

    <div style="position: absolute; top: 14%; left: 30%;  height: 8%; width: 25%">
        <label style="float: left; height: 100%;padding: 1px; border: 1px solid grey; background-color: grey; color: white">监控时间:</label>
        <input id="groupInterval" style="float: left; height: 100%; width: 70%; border: 1px solid grey; outline: none;" type="text" placeholder="   设置监控时间间隔....(默认为全局设置的参数)">
    </div>

    <div style="position: absolute; top: 14%; left: 60%;  height: 8%; width: 25%">
        <label style="float: left; height: 100%;padding: 1px; border: 1px solid grey; background-color: grey; color: white">接口uri:</label>
        <input id="groupUri" style="float: left; height: 100%; width: 70%; border: 1px solid grey; outline: none;" type="text" placeholder="   设置接口uri....(默认为/metrics)">
    </div>

    <div style="position: absolute; top: 32%; left: 3%;  height: 8%; width: 20%">
            <select id="groupType" class="chosen-select" style="float: left; height: 100%; width: 70%; outline: none">
                <option selected style="text-align: center" value="http">请选择监控方式(默认http)</option>
                <option style="text-align: center" value="http">http</option>
                <option style="text-align: center" value="https">https</option>
            </select>
    </div>

    <div style="position: absolute; top: 50%; left: 3%;  height: 8%; width: 20%">
        <select id="groupCheck" class="chosen-select" style="float: left; height: 100%; width: 70%; outline: none">
            <option selected style="text-align: center" value="true">是否跳过证书验证(默认是)</option>
            <option style="text-align: center" value="true">是</option>
            <option style="text-align: center" value="false">否</option>
        </select>
    </div>

    <div style="position: absolute; top: 32%; left: 20%;  height: 40%; width: 78%">
        <label style="float: left; height: 20%;padding: 1px; border: 1px solid grey; background-color: grey; color: white">匹配规则:</label>
        <textarea id="groupMatch" style="float: left; height: 100%; width: 73%; border: 1px solid grey; outline: none;"
                  placeholder='   设置匹配规则....(默认为空) 多个规则用,号隔开
            例如:
                {job=~"kubernetes-service-endpoints"},{__name__=~"rtpproxy_.*"}'></textarea>
{#        <input style="float: left; height: 100%; width: 70%; border: 1px solid grey; outline: none;" type="text" placeholder="   设置匹配规则....">#}
    </div>

    <div style="position: absolute; top: 80%; left: 92%;  height: 10%; width: 6%">
        <button type="button" onclick="submitGroup()" style="background-color: darkseagreen; color: white; border-color: darkseagreen; height: 100%; width: 100%; outline: none">提交</button>
    </div>

</body>
    <script src="/static/js/jquery-2.1.1.js"></script>
    <script>
        function submitGroup(){
            var name = $("#groupName").val();
            var interval = $("#groupInterval").val();
            var uri = $("#groupUri").val();
            var type = $("#groupType").val();
            var check = $("#groupCheck").val();
            var match = $("#groupMatch").val();

            if('' == name.trim()){
                alert('名字不能为空!');
                return;
            }

            //检查输入时间是否正确
            var reg = /^[0-9]*[s|m]$/;
            if ('' != interval && !reg.test(interval)){
                alert("请检查监控,匹配,超时时间格式!(时间+s,m,如3s或4m)");
                return;
            }

            reg = /^\/.*/;
            if ('' != uri.trim() && !reg.test(uri)){
                alert("输入的uri格式不对!(/uri)");
                return;
            }

            jQuery.ajax({
                type: "POST",
                url: "addGConfig",
                dataType: 'json',
                data : {"name":name, "interval":interval, "uri":uri, "type":type, "check": check, "match": match},
                async: false,
                error: function () {
                    alert("操作失败,请稍等片刻重新尝试,如仍有问题请联系管理员......");
                    return false;
                },
                success: function (result) {
                    alert(result)
                }
            })
        }
    </script>

</html>