<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>

<style>
    td {
        border: 1px solid lightgrey;
        padding: 4px 5px 4px 5px;
        height: 25px;
        text-align: center;
        font-size: 12px;
        color: grey;
    }


    .showconfig {
        position: fixed;
        z-index: 4;
        top: 8%;
        left: 10%;
        width: 78%;
        height: 84%;
        border: 5px solid #CCC;
{#        text-align: center;#}
        font-size: 15px;
        white-space: normal;
        display: none;
        color: lawngreen;
        background-color: black;
        overflow: auto;
        _height: expression(this.scrollHeight > 456 ? "456px" : auto);
    }


        /*底色*/
    .back_color{
        position: fixed;
        z-index: 3;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        max-height: 100%;
        border: 5px solid #CCC;
        text-align: center;
        font-size: 10px;
        display: none;
        background-color: black;
        opacity: 0.5;
        overflow: auto;
        _height: expression(this.scrollHeight > 456 ? "456px" : auto);
    }


</style>

<body style="height: 80%; width: 100%;">
    <div style="height: 30px; width: 95%">
        <button type="button" onclick="updateInFo('', '', '', '', '')" style="float: right; border: 1px solid black;height: 34px; width: 100px; color: white;background-color: black">添加告警方式</button>
{#        <input type="text" style="float: right; border: 1px solid lightgrey; height: 30px; width: 28%"  value=""/>#}
    </div>

    <div style="width: 100%; margin-top: 10px;">
        <table style="width: 95%; border-collapse:collapse; border-spacing: 0;" cellpadding="0" cellspacing="0">
            <thead>
                <tr  style="background-color: black; border-radius:10px;">
                    <td width="20%" style="color: white;">告警组</td>
                    <td width="10%" style="color: white;">告警方式</td>
                    <td width="40%" style="color: white;">对接地址</td>
                    <td width="25%" style="color: white;">描述</td>
                    <td width="5%" style="color: white;">操作</td>
                </tr>
            </thead>
            <tbody id="groupinfos">

            </tbody>
        </table>
    </div>
    <div style="height: 30px; width: 95%">
        <div id="showpages" style="float: right;">

        </div>
    </div>


    <div class="showconfig" id="showconfig">
        <label style="position: fixed;right: 14%;top: 9%;font-size: 30px; color: white"><a href="javascript:closeBack()" style="text-decoration:none; color: white;">✘</a></label>
        <label style="position: fixed;right: 17%;top: 9%;font-size: 30px; color: white"><a class="updown" href="javascript:submitUpdate()" style="text-decoration:none; color: white;">✔️</a></label>

        <ul style="margin: 50px;">
            <li  style="padding: 6px; display: none">
                <label>
                    标识:
                </label>
                <input id="gid" type="text" style="padding: 4px; width: 50%" value="">
            </li>
            <li  style="padding: 6px;">
                <label>
                    组名:
                </label>
                <input id="gname" type="text" style="padding: 4px; width: 50%" value="">
            </li>
            <li  style="padding: 6px;">
                <label>
                    方式:
                </label>
                <input id="gtype" type="text" style="padding: 4px; width: 25%" value="">
            </li>
            <li  style="padding: 6px;">
                <label>
                    对接:
                </label>
{#                <input type="text" style="padding: 4px; width: 20%" value="1234">#}
                <input id="gurl" type="text" style="padding: 4px; width: 75%" value="">
            </li>

            <li  style="padding: 6px;">
                <label>
                    描述:
                </label>
{#                <input type="text" style="padding: 4px; width: 20%" value="1234">#}
                <input id="gdes" type="text" style="padding: 4px; width: 55%" value="">
            </li>
        </ul>
    </div>

    <div id="backshow" class="back_color" style="width: 100% ; height: 100%;">
    </div>

</body>
    <script src="/static/js/jquery-2.1.1.js"></script>
<script>
    var page = 1;

    $(document).ready(function () {
        showGroupInfo(1);
    });

    function showGroupInfo(pageS){
        jQuery.ajax({
            type: "POST",
            url: "getAlarm",
            dataType: 'json',
            data: {"page": pageS},
            async: false,
            error: function () {
                alert("操作失败,请稍等片刻重新尝试,如仍有问题请联系管理员......");
                return false;
            },
            success: function (result) {

                var htmlg = '';
                for(var index in result['value']){

                    var value = "'" + result['value'][index]['id'] + "'";
                    value = value + ", '" + result['value'][index]['name'] + "'";
                    value = value + ", '" + result['value'][index]['type'] + "'";
                    value = value + ", '" + result['value'][index]['url'] + "'";
                    value = value + ", '" + result['value'][index]['des'] + "'";
{#                    value = value + ", '" + result['value'][index]['comment'] + "'";#}
{#                    value = value + ", '" + result['value'][index]['match'] + "'";#}
                    value = encodeURIComponent(value);
                    htmlg = htmlg + '<tr>';
                    htmlg = htmlg + '<td width="20%"><a href="javascript:updateInFo(' + value + ')" style="color: grey; text-decoration: none">' + result['value'][index]['name'] + '</a></td>';
                    htmlg = htmlg + '<td width="10%">' + result['value'][index]['type'] + '</td>';
                    htmlg = htmlg + '<td width="40%">' + result['value'][index]['url'] + '</td>';
                    htmlg = htmlg + '<td width="25%">' + result['value'][index]['des'] + '</td>';
{#                    htmlg = htmlg + '<td width="10%">' + result['value'][index]['metrics_path'] + '</td>';#}
{#                    htmlg = htmlg + '<td width="40%">' + result['value'][index]['match'] + '</td>';#}
                    htmlg = htmlg + '<td width="5%"><button type="button" onclick="delGroup(\''+result['value'][index]['id']+'\')">删除</button></td>';
                    htmlg = htmlg + '</tr>';
                }
                $("#groupinfos").html(htmlg);
                var html = '<label>当前页:'+pageS+'</label>';
                var uppage = 1;
                var downpage = result['pages'];
                if(pageS != 1){
                    uppage = pageS -1;
                    page = uppage;
                }
                if(pageS != downpage){
                    downpage = pageS +1;
                    page = downpage;
                }

                html = html + '<a href="javascript:showGroupInfo('+ uppage +')" style=" padding: 1px;background-color: black; color: white;text-decoration: none ;">上一页</a>';

                for (var i=1 ; i<= result['pages']; i++){
                    html = html + '<a href="javascript:showGroupInfo('+ i +')" style=" padding: 2px;color: black;">'+i+'</a>';
                }
                html = html + '<a href="javascript:showGroupInfo('+ downpage +')" style=" padding: 1px;background-color: black; color: white;text-decoration: none ;">下一页</a>';
                $("#showpages").html(html);

            }
        })
    }

    function updateInFo(gid, name, type, url, des){
        $("#gid").val(gid);
        $("#gname").val(name);
        $("#gtype").val(type);
        $("#gurl").val(url);
        $("#gdes").val(des);
{#        $("#guri").val(metrics_path);#}
{#        $("#gmatch").val(match);#}
        document.getElementById("showconfig").style.display="block";
        document.getElementById("backshow").style.display="block";
    }

    function submitUpdate(){
        var x = confirm("是否确认提交此信息");
        if (x == false) {
            return;
        }


        var aid = $("#gid").val();
        var name = $("#gname").val();
        var type = $("#gtype").val();
        var url = $("#gurl").val();
        var des = $("#gdes").val();

        jQuery.ajax({
            type: "POST",
            url: "submitAlarm",
            dataType: 'json',
            data: {"aid": aid, "aname": name, "atype": type, "aurl": url, "ades": des},
            async: false,
            error: function () {
                alert("操作失败,请稍等片刻重新尝试,如仍有问题请联系管理员......");
                return false;
            },
            success: function (result) {
                alert(result);
                window.location.reload();
            }
        });

    }

    function delGroup(gid){
        var x = confirm("是否确认删除该信息");
        if (x == false) {
            return;
        }
        jQuery.ajax({
            type: "POST",
            url: "delAlarmInfo",
            dataType: 'json',
            data: {"aid": gid},
            async: false,
            error: function () {
                alert("操作失败,请稍等片刻重新尝试,如仍有问题请联系管理员......");
                return false;
            },
            success: function (result) {
                alert(result);
                window.location.reload();
            }
        });
    }


    function closeBack(){
        document.getElementById("showconfig").style.display="none";
        document.getElementById("backshow").style.display="none";
    }

</script>
</html>